@import './../../../../../../../assets/style/utils/mixins';
@import './../../../../../../../assets/style/utils/variables';

.home{
   position: relative;
   display: grid;
   grid-template-columns: 1fr 5.fr;
   grid-template-areas: "home illustration";
   width: 98vw;
   height: 100vh;

   &__container{
      grid-area: home;
      background: $primary-mobile-color;
      @include respond-to('small'){
      background: $gradient-color;
      }
   }

   &__illustration{
      grid-area: illustration;
      background-image: url('./../../../../../../../assets/images/wave.svg');
   }
}
