<section class="home" title='Doces da Louise'>
    <div class="container home__container">
        <div class="home__head">
            <h1 class="home__head-title">Bolos únicos feitos a mão</h1>
            <p  class="home__head-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley</p>

            <button title="doces da louise bolos" class="primary-button home__head-button">Confira nossos bolos</button>
        </div>

        <div *ngFor="let item of [1,2]" class="home__bols"></div>

        <div class="home__gradient-bols">
            <div *ngFor="let item of [1,2,3]" class="home__gradient-bols-bol"></div>
        </div>        
    </div>
    <div class="wave"></div>

</section>