<section class="our-cakes">

    <div class="container">
        <h1 class="our-cakes__title" title="Doces da Louise Nossos bolos">Ultimos trabalhos</h1>
    
        <div class="our-cakes__grid">
            <div class="our-cakes__grid-item">
            </div>
            <div  class="our-cakes__grid-item">
            </div>
            <div  class="our-cakes__grid-item">
            </div>
    
            <div  class="our-cakes__grid-item">
            </div>
            <div  class="our-cakes__grid-item">
    
            </div>
            <div  class="our-cakes__grid-item">
            </div>
        </div>  
    </div>
<!--     
    
    <div class="waves"></div> -->
</section>
