<section class="our-cakes">
    <h1 class="our-cakes__title" title="Doces da Louise Nossos bolos">De uma olhada nos nossos trabalhos</h1>

    <div class="our-cakes__grid">
        <div class="our-cakes__grid-item">
        </div>
        <div  class="our-cakes__grid-item">
        </div>
        <div  class="our-cakes__grid-item">
        </div>

        <div  class="our-cakes__grid-item">
        </div>
        <div  class="our-cakes__grid-item">

        </div>
        <div  class="our-cakes__grid-item">
        </div>
    </div>   

    <!-- <div class="parent">
        <div class="div1"> </div>
        <div class="div2"> </div>
        <div class="div3"> </div>
        <div class="div4"> </div>
        <div class="div5"> </div>
        <div class="div6"> </div>
    </div> -->

</section>
