@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$primary-color: #FF9292;
$gradient-color: linear-gradient(90deg,#FFCDC8 0%, #ff9292 100%);

$color-red: #ff0000;
$color-yellow: #ffff00;
$color-primary: #4d4f5c;
$color-gold: #f3f1e9;
$color-black: black;
$color-white: white;
$color-green: #53c457;
$color-gray: #E7E7E7; 




//-------------------//
//       FONTS       //
//-------------------//
$color-bg: #e2e2e2;
$color-txt: #404040;
$clean-txt: #D7C8C8;
$clean-medium-txt: #7C7C7C;
// Utilizado em títulos, textos, etc
$font1: 'Quicksand', sans-serif;


