<section class="delivery">
    <div class="delivery__grid">
        <section>
            <img src="../../../../../../../assets/images/delivery.svg" 
                title="doces da louise entrega"
                alt="doces da louise entrega" 
                class="delivery__moto-girl">
        </section>

        <section>
            <h1 class="delivery__title" title="Doces da Louise">Entregamos na sua casa</h1>

            <p class="delivery__text">As you now, is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley</p>
            <p class="delivery__text">It has survived not only five centuries, but also the leap into electronic
                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem</p>

            <button class="primary-button delivery__button">Consultar disponibilidade</button>
        </section>
    </div>
    <img src="../../../../../../../assets/images/illustration.svg" class="delivery__illustration">
    <div class="delivery__bols">
        <div *ngFor="let item of [1,2,3]" class="delivery__bols-gradient"></div>
    </div>
</section>