@import './../../../../../../../assets/style/utils/mixins';
@import './../../../../../../../assets/style/utils/variables';

.address{
    min-height: 100vh;
    position: relative;
    // margin-top: 40vh;
    &__container{
        min-height: 70vh;
        background: $primary-mobile-color;
        @include respond-to('small'){
            background: $gradient-color;
        }
    }

   &__waves{
       height: 271.65px;
       width: 100%;
       background-image: url('./../../../../../../../assets/images/waves-footer.svg');
       background-repeat: no-repeat;
    @include respond-to('extra-large'){
        height: 364px;
    }
   }
}