@import './../../../../../../../assets/style/utils/mixins';
@import './../../../../../../../assets/style/utils/variables';

.address{
    height: 100vh;
    position: relative;
    margin-top: 50px;
    display: flex;
    @include respond-to('large'){
        margin-top: 200px;
    }
    &__wave{
        position: absolute;
        left: 0;
        width: 100%;
        background-image: url('./../../../../../../../assets/images/waves-footer-mobile.svg');
        height: 29%;
        top: 14%;
        background-repeat: no-repeat;
        @include respond-to('small'){
            height: 100%;
            top: 1px;
            background-image: url('./../../../../../../../assets/images/waves-footer.svg');
        }
    }
    &__container{
        width: 100vw;
        height: 70%;
        margin: auto auto 0 auto;
        background: $primary-mobile-color;
        @include respond-to('small'){
            background: $gradient-color;
            height: 90%;
        }
        @include respond-to('large'){
            height: 70%;
        }
    }
}

